In [53]:
#pip install pandas lxml
import pandas as pd

In [54]:
df = pd.read_xml('/media/rajesh/Rajesh/Python/LIbs_Basic/Visuals_Note/vehicles.xml',parse_dates=True)

In [55]:
cols = df.columns
rem =[]
for i,co in enumerate(cols):
    if df[co].isnull().sum() >1:
        print(i,co,df[co].isnull().sum())
        rem.append(co)

print(rem)

0 atvType 41674
3 c240Dscr 46423
4 c240bDscr 46429
27 cylinders 603
28 displ 601
29 drive 1186
31 eng_dscr 17204
32 evMotor 44542
38 fuelType2 44716
41 guzzler 43838
55 mfrCode 30808
67 rangeA 44721
72 startStop 31689
73 trans_dscr 31520
74 trany 11
83 sCharger 45568
84 tCharger 36708
['atvType', 'c240Dscr', 'c240bDscr', 'cylinders', 'displ', 'drive', 'eng_dscr', 'evMotor', 'fuelType2', 'guzzler', 'mfrCode', 'rangeA', 'startStop', 'trans_dscr', 'trany', 'sCharger', 'tCharger']

Remove Null values columns

In [56]:
for i in rem:
    df.drop(i,inplace=True,axis=1)
    
cols = df.columns
rem =[]
for i,co in enumerate(cols):
    if df[co].isnull().sum() >1:
        print(i,co,df[co].isnull().sum())
        rem.append(co)

df.isnull().sum()

barrels08       0
barrelsA08      0
charge120       0
charge240       0
charge240b      0
               ..
UHighwayA       0
VClass          0
year            0
youSaveSpend    0
baseModel       0
Length: 68, dtype: int64

In [57]:
df.drop('charge120',axis=1,inplace=True)

In [58]:
df.head(3)

,barrels08,barrelsA08,charge240,charge240b,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,rangeHwy,rangeHwyA,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,baseModel
0,14.167143,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,0.0,0.0,23.3333,0.0,35.0,0.0,Two Seaters,1985,-3250,Spider
1,27.046364,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,0.0,0.0,11.0000,0.0,19.0,0.0,Two Seaters,1985,-15750,Testarossa
2,11.018889,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,0.0,0.0,29.0000,0.0,47.0,0.0,Subcompact Cars,1985,-250,Charger

In [59]:
g1 = df.groupby(by='year',as_index=False).aggregate({'barrels08':'mean','barrelsA08':'max'})
g1

    year  barrels08  barrelsA08
0   1984  16.471184    0.000000
1   1985  16.375869    0.000000
2   1986  16.463507    0.000000
3   1987  16.762227    0.000000
4   1988  16.532300    0.000000
5   1989  16.735999    0.000000
6   1990  16.757107    0.000000
7   1991  16.912927    0.000000
8   1992  16.831284    0.000000
9   1993  16.571905    0.000000
10  1994  16.584464    0.000000
11  1995  16.830617    0.000000
12  1996  16.051376    0.000000
13  1997  16.138807    0.000000
14  1998  15.994948    0.000000
15  1999  15.937053    0.000000
16  2000  15.992477    5.806364
17  2001  15.998699    5.806364
18  2002  16.251069    6.387000
19  2003  16.456617    6.387000
20  2004  16.216162    7.096667
21  2005  16.179638    7.096667
22  2006  16.403698    7.096667
23  2007  16.334834    6.387000
24  2008  16.208236    6.387000
25  2009  15.809416    6.387000
26  2010  15.218802    6.387000
27  2011  15.077454    7.096667
28  2012  14.669776    7.096667
29  2013  14.100502    7.096667
30  2014  13.903299   16.528333
31  2015  13.587149   16.528333
32  2016  13.166017    6.918837
33  2017  13.156123    6.918837
34  2018  13.091878    6.918837
35  2019  13.026128    7.083571
36  2020  13.011160    7.083571
37  2021  13.032595    7.083571
38  2022  12.714985    7.083571
39  2023  12.178525    7.628462
40  2024  11.562844    5.322500

In [60]:
(df['year']>2012).sum()

14553

In [61]:
df = df[df['year']>2012]
df

,barrels08,barrelsA08,charge240,charge240b,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,rangeHwy,rangeHwyA,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,baseModel
24379,15.658421,0.0,0.0,0.0,16,16.4596,0,0.0,0.0,0.0000,...,0.0,0.0,20.2988,0.0,30.1798,0.0,Subcompact Cars,2013,-8250,GT-R
24380,11.900400,0.0,0.0,0.0,22,21.8706,0,0.0,0.0,0.0000,...,0.0,0.0,26.9770,0.0,42.4936,0.0,Compact Cars,2013,-3750,CC
24381,14.167143,0.0,0.0,0.0,17,17.4935,0,0.0,0.0,0.0000,...,0.0,0.0,21.2000,0.0,35.1000,0.0,Compact Cars,2013,-6500,CC
24382,14.875500,0.0,0.0,0.0,17,16.9415,0,0.0,0.0,0.0000,...,0.0,0.0,20.5000,0.0,33.5000,0.0,Compact Cars,2013,-7250,CC
24383,10.258966,0.0,0.0,0.0,25,24.7726,0,0.0,0.0,0.0000,...,0.0,0.0,31.9796,0.0,51.8816,0.0,Midsize Cars,2013,500,Malibu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40674,0.103200,0.0,13.0,0.0,82,81.7384,0,0.0,0.0,41.2352,...,0.0,0.0,115.6000,0.0,104.4000,0.0,Standard Pickup Trucks 4WD,2023,5750,R1T
40675,0.105600,0.0,13.0,0.0,80,80.2542,0,0.0,0.0,41.9978,...,0.0,0.0,111.2000,0.0,98.3000,0.0,Standard Pickup Trucks 4WD,2023,5500,R1T
40676,0.105600,0.0,13.0,0.0,80,80.2542,0,0.0,0.0,41.9978,...,0.0,0.0,111.2000,0.0,98.3000,0.0,Standard Pickup Trucks 4WD,2023,5500,R1T
40677,0.093600,0.0,12.0,0.0,89,89.3900,0,0.0,0.0,37.7056,...,201.6,0.0,127.7000,0.0,121.2000,0.0,Special Purpose Vehicle 4WD,2023,6250,VF 8
40678,0.100800,0.0,12.0,0.0,82,82.4600,0,0.0,0.0,40.8744,...,184.8,0.0,117.8000,0.0,110.9000,0.0,Special Purpose Vehicle 4WD,2023,5750,VF 8

In [62]:
df.select_dtypes(include=['int64']).columns

Index(['city08', 'cityA08', 'co2', 'co2A', 'comb08', 'combA08', 'engId',
       'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore', 'ghgScoreA',
       'highway08', 'highwayA08', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'phevCity',
       'phevComb', 'phevHwy', 'pv2', 'pv4', 'range', 'year', 'youSaveSpend'],
      dtype='object')

In [63]:
df.dtypes.unique()

array([dtype('float64'), dtype('int64'), dtype('O'), dtype('bool')],
      dtype=object)

In [64]:
# Create a dictionary to store DataFrames for each data type
filtered_dtypes = {}

# Iterate through unique data types in the DataFrame
for dtype in df.dtypes.unique():
    filtered_dtypes[dtype] = df.select_dtypes(include=[dtype]).columns

filtered_dtypes

{dtype('float64'): Index(['barrels08', 'barrelsA08', 'charge240', 'charge240b', 'city08U',
        'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2TailpipeAGpm',
        'co2TailpipeGpm', 'comb08U', 'combA08U', 'combE', 'combinedCD',
        'combinedUF', 'highway08U', 'highwayA08U', 'highwayCD', 'highwayE',
        'highwayUF', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA',
        'UCity', 'UCityA', 'UHighway', 'UHighwayA'],
       dtype='object'),
 dtype('int64'): Index(['city08', 'cityA08', 'co2', 'co2A', 'comb08', 'combA08', 'engId',
        'feScore', 'fuelCost08', 'fuelCostA08', 'ghgScore', 'ghgScoreA',
        'highway08', 'highwayA08', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'phevCity',
        'phevComb', 'phevHwy', 'pv2', 'pv4', 'range', 'year', 'youSaveSpend'],
       dtype='object'),
 dtype('O'): Index(['createdOn', 'fuelType', 'fuelType1', 'make', 'model', 'modifiedOn',
        'mpgData', 'VClass', 'baseModel'],
       dtype='object'),
 dtype('bool'): Index(['mpgRevised', 'phevBlended'], dtype='object')}

In [65]:
print(df.columns)
print(len(df.columns))

Index(['barrels08', 'barrelsA08', 'charge240', 'charge240b', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'createdOn',
       'engId', 'feScore', 'fuelCost08', 'fuelCostA08', 'fuelType',
       'fuelType1', 'ghgScore', 'ghgScoreA', 'highway08', 'highway08U',
       'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF',
       'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make', 'model', 'modifiedOn',
       'mpgData', 'mpgRevised', 'phevBlended', 'phevCity', 'phevComb',
       'phevHwy', 'pv2', 'pv4', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy',
       'rangeHwyA', 'UCity', 'UCityA', 'UHighway', 'UHighwayA', 'VClass',
       'year', 'youSaveSpend', 'baseModel'],
      dtype='object')
67

In [66]:
df.to_csv('CLeaned_data.csv',index=False)

In [67]:
df2 = pd.read_csv('CLeaned_data.csv')
df2

,barrels08,barrelsA08,charge240,charge240b,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,rangeHwy,rangeHwyA,UCity,UCityA,UHighway,UHighwayA,VClass,year,youSaveSpend,baseModel
0,15.658421,0.0,0.0,0.0,16,16.4596,0,0.0,0.0,0.0000,...,0.0,0.0,20.2988,0.0,30.1798,0.0,Subcompact Cars,2013,-8250,GT-R
1,11.900400,0.0,0.0,0.0,22,21.8706,0,0.0,0.0,0.0000,...,0.0,0.0,26.9770,0.0,42.4936,0.0,Compact Cars,2013,-3750,CC
2,14.167143,0.0,0.0,0.0,17,17.4935,0,0.0,0.0,0.0000,...,0.0,0.0,21.2000,0.0,35.1000,0.0,Compact Cars,2013,-6500,CC
3,14.875500,0.0,0.0,0.0,17,16.9415,0,0.0,0.0,0.0000,...,0.0,0.0,20.5000,0.0,33.5000,0.0,Compact Cars,2013,-7250,CC
4,10.258966,0.0,0.0,0.0,25,24.7726,0,0.0,0.0,0.0000,...,0.0,0.0,31.9796,0.0,51.8816,0.0,Midsize Cars,2013,500,Malibu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14548,0.103200,0.0,13.0,0.0,82,81.7384,0,0.0,0.0,41.2352,...,0.0,0.0,115.6000,0.0,104.4000,0.0,Standard Pickup Trucks 4WD,2023,5750,R1T
14549,0.105600,0.0,13.0,0.0,80,80.2542,0,0.0,0.0,41.9978,...,0.0,0.0,111.2000,0.0,98.3000,0.0,Standard Pickup Trucks 4WD,2023,5500,R1T
14550,0.105600,0.0,13.0,0.0,80,80.2542,0,0.0,0.0,41.9978,...,0.0,0.0,111.2000,0.0,98.3000,0.0,Standard Pickup Trucks 4WD,2023,5500,R1T
14551,0.093600,0.0,12.0,0.0,89,89.3900,0,0.0,0.0,37.7056,...,201.6,0.0,127.7000,0.0,121.2000,0.0,Special Purpose Vehicle 4WD,2023,6250,VF 8
14552,0.100800,0.0,12.0,0.0,82,82.4600,0,0.0,0.0,40.8744,...,184.8,0.0,117.8000,0.0,110.9000,0.0,Special Purpose Vehicle 4WD,2023,5750,VF 8

In [68]:
df2['year'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024])

In [69]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14553 entries, 0 to 14552
Data columns (total 67 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        14553 non-null  float64
 1   barrelsA08       14553 non-null  float64
 2   charge240        14553 non-null  float64
 3   charge240b       14553 non-null  float64
 4   city08           14553 non-null  int64
 5   city08U          14553 non-null  float64
 6   cityA08          14553 non-null  int64
 7   cityA08U         14553 non-null  float64
 8   cityCD           14553 non-null  float64
 9   cityE            14553 non-null  float64
 10  cityUF           14553 non-null  float64
 11  co2              14553 non-null  int64
 12  co2A             14553 non-null  int64
 13  co2TailpipeAGpm  14553 non-null  float64
 14  co2TailpipeGpm   14553 non-null  float64
 15  comb08           14553 non-null  int64
 16  comb08U          14553 non-null  float64
 17  combA08          14553 non-null  int64
 18  combA08U         14553 non-null  float64
 19  combE            14553 non-null  float64
 20  combinedCD       14553 non-null  float64
 21  combinedUF       14553 non-null  float64
 22  createdOn        14553 non-null  object
 23  engId            14553 non-null  int64
 24  feScore          14553 non-null  int64
 25  fuelCost08       14553 non-null  int64
 26  fuelCostA08      14553 non-null  int64
 27  fuelType         14553 non-null  object
 28  fuelType1        14553 non-null  object
 29  ghgScore         14553 non-null  int64
 30  ghgScoreA        14553 non-null  int64
 31  highway08        14553 non-null  int64
 32  highway08U       14553 non-null  float64
 33  highwayA08       14553 non-null  int64
 34  highwayA08U      14553 non-null  float64
 35  highwayCD        14553 non-null  float64
 36  highwayE         14553 non-null  float64
 37  highwayUF        14553 non-null  float64
 38  hlv              14553 non-null  int64
 39  hpv              14553 non-null  int64
 40  id               14553 non-null  int64
 41  lv2              14553 non-null  int64
 42  lv4              14553 non-null  int64
 43  make             14553 non-null  object
 44  model            14553 non-null  object
 45  modifiedOn       14553 non-null  object
 46  mpgData          14553 non-null  object
 47  mpgRevised       14553 non-null  bool
 48  phevBlended      14553 non-null  bool
 49  phevCity         14553 non-null  int64
 50  phevComb         14553 non-null  int64
 51  phevHwy          14553 non-null  int64
 52  pv2              14553 non-null  int64
 53  pv4              14553 non-null  int64
 54  range            14553 non-null  int64
 55  rangeCity        14553 non-null  float64
 56  rangeCityA       14553 non-null  float64
 57  rangeHwy         14553 non-null  float64
 58  rangeHwyA        14553 non-null  float64
 59  UCity            14553 non-null  float64
 60  UCityA           14553 non-null  float64
 61  UHighway         14553 non-null  float64
 62  UHighwayA        14553 non-null  float64
 63  VClass           14553 non-null  object
 64  year             14553 non-null  int64
 65  youSaveSpend     14553 non-null  int64
 66  baseModel        14553 non-null  object
dtypes: bool(2), float64(29), int64(27), object(9)
memory usage: 7.2+ MB

In [70]:
df2.describe()

,barrels08,barrelsA08,charge240,charge240b,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,rangeCity,rangeCityA,rangeHwy,rangeHwyA,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend
count,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.00000,...,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000,14553.000000
mean,13.113027,0.306935,0.431167,0.050402,23.796880,23.799980,2.045420,2.054812,0.001590,2.35384,...,5.270323,0.545332,4.899306,0.511175,30.953110,2.816028,42.695465,1.762300,2018.266680,-4030.972995
std,4.338878,1.200276,1.957982,0.578618,17.582296,17.626614,11.057079,11.107355,0.066076,9.97603,...,37.546961,4.838485,35.295515,4.363589,25.247393,15.735647,20.458932,9.284216,3.259022,4669.755273
min,0.047081,0.000000,0.000000,0.000000,8.000000,7.762000,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,9.300000,0.000000,15.100000,0.000000,2013.000000,-28750.000000
25%,11.018889,0.000000,0.000000,0.000000,17.000000,16.613200,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,20.700000,0.000000,32.700000,0.000000,2015.000000,-6500.000000
50%,12.935217,0.000000,0.000000,0.000000,20.000000,19.876700,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,25.100000,0.000000,38.602000,0.000000,2018.000000,-3750.000000
75%,15.658421,0.000000,0.000000,0.000000,24.000000,23.968700,0.000000,0.000000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.000000,30.779800,0.000000,45.800500,0.000000,2021.000000,-1250.000000
max,33.056667,16.528333,19.000000,9.600000,153.000000,155.824200,145.000000,145.083500,5.350000,90.00000,...,520.800000,135.280000,520.500000,114.760000,224.800000,207.262200,187.100000,173.143600,2024.000000,7750.000000

In [71]:
i = 1
for col in df2.columns:
    print(i,col)
    i+=1

1 barrels08
2 barrelsA08
3 charge240
4 charge240b
5 city08
6 city08U
7 cityA08
8 cityA08U
9 cityCD
10 cityE
11 cityUF
12 co2
13 co2A
14 co2TailpipeAGpm
15 co2TailpipeGpm
16 comb08
17 comb08U
18 combA08
19 combA08U
20 combE
21 combinedCD
22 combinedUF
23 createdOn
24 engId
25 feScore
26 fuelCost08
27 fuelCostA08
28 fuelType
29 fuelType1
30 ghgScore
31 ghgScoreA
32 highway08
33 highway08U
34 highwayA08
35 highwayA08U
36 highwayCD
37 highwayE
38 highwayUF
39 hlv
40 hpv
41 id
42 lv2
43 lv4
44 make
45 model
46 modifiedOn
47 mpgData
48 mpgRevised
49 phevBlended
50 phevCity
51 phevComb
52 phevHwy
53 pv2
54 pv4
55 range
56 rangeCity
57 rangeCityA
58 rangeHwy
59 rangeHwyA
60 UCity
61 UCityA
62 UHighway
63 UHighwayA
64 VClass
65 year
66 youSaveSpend
67 baseModel

In [72]:
df2['year'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023,
       2024])

# Data Contains not null rows and from 2013